#body{
    overflow: hidden;
    padding: 0% 2% 2% 2%;
}

#func{
    float:left;
}

#def-views{
    float:left;
    margin-left:70px;
    margin-top: 2%;
    width:55%
}

.button{
    font-size: 13px;
	color: #FFF;
    background-color: #40a2ef;
    padding: 10px 25px;
    font-size: 16px;
    border:none;
	margin-top: 15px;
	border: 2px solid #40a2ef;
    border-radius:2px; 
    width: 150px;
}

.button:hover{
    background-color: #368dd2;
    border: 2px solid #368dd2;
    transition: all 0.3s;
}

div#body.divborder{
    padding: 2% 12%; 
}